<section id="home" data-type="background" data-speed="10" class="pages">
  <article>
    <div id="player">
     <object height="70" width="100%">
    <div class="row">
      <div class="col-sm-4 box">
        <a href="#" class="" onclick="playSomeMusic('country')" >180-200-country</a>
          <h4>Country</h4>
        </div>
        <div class="col-sm-4 box">
          <a href="#" class="" onclick="playSomeMusic('pop')" >180-200-country</a>
            <h4>Country</h4>
        </div>
        <div class="col-sm-4 box">
            <a href="#" class="" onclick="playSomeMusic('reggae')" >180-200-country</a>
              <h4>Country</h4>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4 box">
        <a src="#" class="img-responsive img-circle" alt="">
          <h4>Country</h4>
      </div>
      <div class="col-sm-4 box">
        <a src="#" class="img-responsive img-circle" alt="">
          <h4>Country</h4>
      </div>
      <div class="col-sm-4 box">
        <a src="#" class="img-responsive img-circle" alt="">
          <h4>Country</h4>
      </div>
    </div>
  </article>
</section>

<section id="contact" data-type="background" data-speed="10" class="pages">
  <article>Simple Parallax Scroll</article>
  <div id="target"</div>
</section>

