<section id="home" data-type="background" data-speed="10" class="pages">
  <article>
  <h1>Mixed Emotions</h1>
    <h4>Whats your mood?</h4>
    <div id="player">
     <object height="70" width="50%">
    <div class="row">
      <a href="#" class="col-sm-4 box linktext" onclick="playSomeMusic('country')" >
        <h4>Cowboy-Up</h4>
      </a>
      <a href="#" class="col-sm-4 box linktext" onclick="playSomeMusic('clubmix')" >
        <h4>Cracked Out</h4>
      </a>
      <a href="#" class="col-sm-4 box linktext" onclick="playSomeMusic('latin')" >
        <h4>Spicy</h4>
      </a>
    </div>
    <div class="row">
      <a href="#" class="col-sm-4 box linktext" onclick="playSomeMusic('pop')" >
        <h4>Poppy</h4>
      </a>
      <a href="#" class="col-sm-4 box linktext" onclick="playSomeMusic('reggae')" >
        <h4>Mellow</h4>
      </a>
      <a href="#" class="col-sm-4 box linktext" onclick="playSomeMusic('rap')" >
        <h4>Thugish</h4>
      </a>
    </div>
  </article>
</section>

<section id="contact" data-type="background" data-speed="10" class="pages">
  <div id="target"</div>
</section>

<section id="about" data-type="background" data-speed="10" class="pages">
  <article>About</article>
  
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/hector_baby.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-4">
      <img src="assets/megan_baby.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-4">
      <img src="assets/tyler_baby.jpg" alt="..." class="img-thumbnail">
    </div>
  </div>

</section>

