<section id="home" data-type="background" data-speed="10" class="pages">
  <article>I am absolute positioned</article>
<div id="player">
<object height="70" width="100%">
  <ul>
  <li><a href="#" class="" onclick="playSomeMusic('country')" >country</a></li>
  <li><a href="#" class="" onclick="playSomeMusic('techno')" >techno</a></li>
  <li><a href="#" class="" onclick="playSomeMusic('latin')" >latin</a></li>
  <li><a href="#" class="" onclick="playSomeMusic('reggae')" >soul<a></li>
  <li><a href="#" class="" onclick="playSomeMusic('pop')" >pop<a></li>
  <li><a href="#" class="" onclick="playSomeMusic('rap')" >rap<a></li>
<div id="target"</div>
</ul>
</object> 
</div>
</section>

<section id="contact" data-type="background" data-speed="10" class="pages">
  <article>Simple Parallax Scroll</article>
</section>
