<section id="home" data-type="background" data-speed="10" class="pages">
  <article>I am absolute positioned</article>
    <div id="player">
      <object height="70" width="100%">
        <ul>
          <li><a href="#" class="" onclick="playSomeMusic('country')" >180-200-country</a></li>
          <li><a href="#" class="" onclick="playSomeMusic('techno')" >180,200,techno</a></li>
          <li><a href="#" class="" onclick="playSomeMusic('latin')" >5120, 200, 'latin'</a></li>
          <li><a href="#" class="" onclick="playSomeMusic('soul')" >100,120,'soul'<a></li>
          <li><a href="#" class="" onclick="playSomeMusic('pop')" >180,200,'pop'<a></li>
          <li><a href="#" class="" onclick="playSomeMusic('rap')" >100,200,'rap<a></li>
          <div id="target"</div>
        </ul>
      </object> 
    </div>
</section>

<section id="contact" data-type="background" data-speed="10" class="pages">
  <article>Simple Parallax Scroll</article>
</section>
