<div id="player">
<object height="70" width="100%">
  <ul>
  <li><a href="#" class="myGenre" onclick="playSomeMusic('disco')">disco</a></li>
  <li><a href="#" class="myGenre" onclick="playSomeMusic('country')">country</a></li>
  <li><a href="#" class="myGenre" onclick="playSomeMusic('rock')">rock</a></li>
  <li><a href="#" class="myGenre" onclick="playSomeMusic('electronic')">electro/nic<a></li>
  <li><a href="#" class="myGenre" onclick="playSomeMusic('cumbia')">cumbia<a></li>
<div id="target"</div>
</ul>
</object> 
</div>
<ul>
<% @tracks.each do |track|%>
  <li><%= track.permalink_url %></li>
</ul>
<%end%>