@import "bootstrap-sprockets";
@import "bootstrap";

#home {
  background: url(background_1.jpg) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#home article, #contact article, #about article {
  height: 458px;
  position: absolute;
  text-align: center;
  /*top: 150px;*/
  width: 100%;
  color: white;
}

#contact {
  background: url(background_2.jpg) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

h1 {
  font-family: 'Rock Salt', cursive;
}

#about { 
  background: url(background_3.jpg) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}


.linktext {
  font-family: 'Rock Salt', sans-serif;
  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.box {
  padding: 90px;
  border: 5px solid black;

  h4 {
    text-align: center;

  }
}

.images {
  margin-top: 100px;
}