 // Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";


.box {
  padding: 90px;
  border: 5px solid white;

  h4 {
    text-align: center;
  }
}

.images {
  margin-top: 100px;
}

