<!DOCTYPE html>
<html>
<head>
  <title>MixedEmotions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://connect.soundcloud.com/sdk-2.0.0.js"></script>
  <script src='assets/application.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
